<div id="profile_header">
	<h1><%= @user.username %> Profile</h1>
</div>
<div class="container">
<div id="profile_page" class="row">
	<div class="col-md-2">
		<%= gravatar_tag @user.email, size: 150 %>
	</div>
	<div class="col-md-10">
		
	</div>
</div>
</div>