<div id="jumbo-tron">
	<div class="jumbotron">
	<h1>Welcome to UNIBOOK</h1>
	<div class="sign-up">
		<%= link_to "Get started Right Away", new_user_registration_path, class: 'btn btn-default btn-lg' %>
	</div>
	</div>
</div>
